NETMP.Module2.GetFirstSymbol/bin/Debug/NETMP.Module2.GetFirstSymbol.exe.config
NETMP.Module2.GetFirstSymbol/obj/Debug/NETMP.Module2.GetFirstSymbol.csproj.FileListAbsolute.txt
NETMP.Module2.GetFirstSymbol/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NETMP.Module2.GetFirstSymbol/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NETMP.Module2.GetFirstSymbol/obj/
NETMP.Module2.Parser.Tests/bin/
NETMP.Module2.Parser.Tests/obj/
NETMP.Module2.Parser/obj/
NETMP.Module2.Parser/bin/
